table {
    width: 100%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 18px;
    margin: 20px;
    display: block !important;
  }
  
  .mat-progress-spinner {
    margin: auto;
    height: 100%;
    
  }

  .progress-loader {
    height: 100%;
    padding: 200px;
  }

  .mat-row {
    height: auto;
  }
  
.mat-cell, .mat-header-cell {
    padding: 10px 10px;
}