.table {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 18px;
    margin: 20px;
    display: block !important;
    
}

.mat-card {
	min-width: max-content;
	max-width: max-content;
}

.mat-card {
	min-width: 100% !important;
	max-width: 100% !important;
}

.mat-row {
    height: auto;
  }
  
.mat-cell, .mat-header-cell {
    padding: 10px 15px;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
    
  }

label {
    padding: 10px;
    margin: 20px;
}

.mat-column-select {
  overflow: initial;
}

mat-label {
  color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}